* {box-sizing: border-box;}

/* button used to open contact form */
.open-button {
    background-color: green;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed; /* must be relative for the animation */
    bottom: 23px;
    right: 28px;
    width: 280px;

   /* animation: mymove 3s infinite; */
}
/*
@keyframes mymove {
    from {top: 0px;}
    to {top: 150px;}
}
*/
/* form. hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 1;
}

/* form styling */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When inputs get focus do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04aa4d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/* sticky button */
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    scroll-behavior: fixed;
}